**Bow**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
#Чтение файла из предыдушей ЛР
df = pd.read_csv(r'/content/_Manual_transcription_with_normalaize (1).csv')
df.head()

,Transcription,Emotion,Sentiment,Emotion digits,Sentiment digits,Normalize transcription
0,Давай ты успокоишься для начала. Ты можешь не ...,гнев,негативный сегмент,0.0,0.0,дава успоко нача моч вест ерунд эт специальн п...
1,"Подожди, подожди, успокойся пожалуйста. Подожд...",гнев,негативный сегмент,0.0,0.0,подожда подожда успоко пожалуйст подожда подож...
2,"Кристин, привет. Ты слышала там самолёт упал в...",страх,негативный сегмент,5.0,0.0,кристин привет слыша самолет упаст зеланд мы з...
3,"Кристин, привет .. слушай .. Я боюсь лететь, т...",страх,негативный сегмент,5.0,0.0,кристин привет .. слуша .. боя летет разб само...
4,"Почему? Подожди... Ну подожди, ну как же, но м...",грусть,негативный сегмент,1.0,0.0,поч подожда ... подожда давн планирова эт кто-...

In [ ]:
#записываем метод векторизации в переменную vectorizer
vectorizer = CountVectorizer()

In [ ]:

vector_df = pd.DataFrame(0.0, index = range(len(df)), columns = range(3127))
vector_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Добавление значений вектора в строки df
for i in range(len(df)):
  x = vectorizer.fit_transform((df.at[i, 'Normalize transcription']).split()).toarray()
  st = list(x.ravel())
  for j in range(len(st)):
    vector_df[i][j] = st[j]
print(vector_df)

     0     1     2     3     4     5     6     7     8     9     ...  3117  \
0     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
1     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
2     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
3     1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
4     0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
530   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
531   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
532   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
533   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0  ...   0.0
534   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0

     3118  3119  3120  3121  3122  3123  3124  3125  3126
0     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...
530   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
531   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
532   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
533   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
534   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[535 rows x 3127 columns]

In [ ]:
#Добавление столбца "Sentiment"
vector_df['Sentiment'] = df['Sentiment digits']
vector_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3118,3119,3120,3121,3122,3123,3124,3125,3126,Sentiment
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Warning: Total number of columns (3128) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#Сохранение файла
vector_df.to_csv(r'TBow_vector.csv', index=False)